# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'
  schedule:
    # 0 am UTC on Sundays
    - cron: "0 0 * * 0"

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install flake8 pytest
        python -m pip install coverage
        python -m pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest and coverage
      run: |
        # configure coverage with entries in setup.cfg
        coverage run -m pytest
        coverage report -m | tee coverage.txt
        coverage html
    - name: Upload coverage to https://codecov.io/gh/jensengroup/propka
      run: bash <(curl -s https://codecov.io/bash)
      if: ${{ ! startsWith(matrix.os, 'windows') }}
    - name: Store coverage text results
      uses: actions/upload-artifact@v6
      with:
        name: coverage-text-${{ matrix.os }}-py${{ matrix.python-version }}
        path: coverage.txt
    - name: Store coverage HTML results
      uses: actions/upload-artifact@v6
      with:
        name: coverage-html-${{ matrix.os }}-py${{ matrix.python-version }}
        path: htmlcov/*

  static_type_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.12"
    - run: python -m pip install mypy types-setuptools
    - run: mypy
